<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Yauld</title>
    <link rel="stylesheet" type="text/css" href="../style.css" charset="utf-8">
</head>
<body>
    <div class="page">
        <h1>Yauld-Android HotFix Plug-in</h1>
        <p>名字：${apk.getName()}</p>
        <p>包名：${apk.getPackageName()}</p>
        <p>删除应用---<a href="/apk/delete?package=${apk.getPackageName()}">点这里</a></p>
        <p></p>
        <p>上传apk---<a href="/apk/upload">点这里</a></p>
        <ul class="entries">
            #if($items && $items.size()>0)
                <table border="1">
                    <tr>
                        <th>序号</th>
                        <th>版本号</th>
                        <th>MD5</th>
                    </tr>
                    #set($index = 1)
                    #foreach($apkitem in $items)
                        <tr>
                            <th>$index</th>
                            <th><a href="/apk/hot/show?package=entry.package&version=entry.version_name">${apkitem.getVersionName()}</th>
                            <th>${apkitem.getMd5()}</th>
                        </tr>
                        #set($index = $index + 1)
                    #end
                </table>
            #else
                <li><em>目前还没有apk上传</em></li>
            #end
        </ul>
    </div>
</body>