<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Yauld</title>
    <link rel="stylesheet" type="text/css" href="../../style.css" charset="utf-8">
</head>
<body>
    <div class="page">
        <h1>Yauld-Android HotFix Plug-in</h1>
        <p>名字：${apk.getName()}</p>
        <p>包名：${apk.getPackageName()}</p>
        <p>删除应用---<a href="/apk/delete?package=${apk.getPackageName()}">点这里</a></p>
        <p></p>
        <p>上传apk---<a href="/apk/upload">点这里</a></p>
        <ul class="entries">
            #if($items && $items.size()>0)
                <table border="1" class="dataintable">
                    <tr>
                        <td>序号</td>
                        <td>版本号</td>
                        <td>MD5</td>
                        <td>热更新版本</td>
                        <td>类型</td>
                    </tr>
                    #set($index = 0)
                    #foreach($item in $items)
                        #if(${item.getHotVersion()})
                            <tr>
                                <td>$index</td>
                                <td>${item.getVersionName()}</td>
                                <td>${item.getMd5()}</td>
                                <td>${item.getHotVersion()}</td>
                                <td>热更新</td>
                            </tr>
                        #else
                            #set($index = $index + 1)
                            <tr>
                                <th>$index</th>
                                <th>${item.getVersionName()}</th>
                                <th>${item.getMd5()}</th>
                                <th></th>
                                <th>apk</th>
                            </tr>
                        #end
                    #end
                </table>
            #else
                <li><em>目前还没有apk上传</em></li>
            #end
        </ul>
    </div>
</body>